body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 15px;
}

.profile p {
    font-size: 18px;
    color: #b0b0b0;
    line-height: 1.6;
    margin-bottom: 10px;
}

.profile a {
    text-decoration: none;
}

.profile a:hover {
    text-decoration: underline;
}

.profile img.profile-img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: 30vh;
}

.intro-text {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.intro-text p {
    font-size: 18px;
    color: #e0e0e0;
    line-height: 1.6;
}

.education-section h2,
.work-experience h2,
.skills-section h2,
.achievement-section h2,
.projects-section h2 {
    font-size: 28px;
    color: #ffffff;
    border-bottom: 2px solid #42a5f5;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.education-section ul,
.work-experience ul,
.skills-section ul,
.achievement-section ul,
.projects-section ul {
    list-style-type: none;
    padding-left: 0;
}

.education-section ul li,
.work-experience ul li,
.skills-section ul li,
.achievement-section ul li,
.projects-section ul li {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.projects-section .project {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.projects-section .project h5 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 15px;
}

.projects-section .project p {
    color: #e0e0e0;
    font-size: 16px;
    line-height: 1.6;
}

.projects-section .project ul {
    padding-left: 20px;
}

.projects-section .project ul li {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.projects-section .project ul li::before {
    content: "•";
    color: #42a5f5;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile .col-md-8,
    .profile .col-md-4 {
        width: 100%;
        text-align: center;
    }

    .profile img.profile-img {
        margin-top: 15px;
        height: auto;

    }
}